# Banco de dados
mysql-connector-python
mysqlclient~=2.2.0
pymysql==1.1.0
SQLAlchemy

# Supabase
supabase-py>=2.19.0

# Streamlit e UI
streamlit~=1.28.0
streamlit_option_menu

# Utilitários
python-dotenv==1.0.0
pandas
babel

# Ferramentas de build (para MySQL client)
pkgconfig==1.5.5
pykg-config
